<div class="container">
  <app-menu></app-menu>
  <div class="tablet-container display-flex-center height-percent-80">
    <div
      class="tablet width-percent-80 height-percent-80 display-flex-center position-relative overflow-hidden border-radius-20"
    >
      <div
        class="card-container overflow-hidden background-screens overflow-y-auto height-percent-90 width-percent-90 border-radius-15"
      >
        <div
          class="menu-tablet display-flex-center full-width padding-10 justify-content-space-between color-white"
        >
          <div class="display-flex align-itens-flex-end">
            <div
              class="bar position-relative width-px-10 height-px-5 margin-right-5"
            ></div>
            <div
              class="bar position-relative width-px-10 height-px-10 margin-right-5"
            ></div>
            <div
              class="bar position-relative width-px-10 height-px-15 margin-right-5"
            ></div>
            <div
              class="bar position-relative width-px-10 height-px-20 margin-right-5"
            ></div>
          </div>
          <div class="battery width-px-40 height-px-20 margin-right-20">
            <div class="battery-fill width-percent-70 height-percent-100"></div>
          </div>
        </div>
        <div
          *ngIf="!id; else projectInformation"
          class="cards gap-10 full-width-height justify-content-space-around display-flex flex-wrap"
        >
          <div
            class="card border-radius-5 width-vw-20 height-vh-25 display-flex flex-collumn"
            *ngFor="let project of projects; let index = index"
            (mouseover)="cursorInIndex = index"
            (mouseout)="cursorInIndex = undefined"
            (click)="redirectTo(project.id)"
          >
            <img
              class="border-radius-5 cursor-pointer full-width-height"
              [src]="project.img"
              [alt]="project.company + '-logo'"
            />
            <div
              class="informations position-absolute bottom-0 cursor-pointer full-width height-vh-5"
              [style.opacity]="0"
              [class.show]="cursorInIndex === index"
              class="{{ project.company.toLowerCase() }}-background"
            >
              <h1 class="f-vw-1">
                {{ project.name.toUpperCase() }}
              </h1>
              <p class="f-15 font-limited">
                {{ project.description | translate }}
              </p>
            </div>
          </div>
        </div>
        <ng-template #projectInformation>
          <div class="container-information full-width-height padding-10">
            <div class="display-flex-center gap-10">
              <img
                class="height-vh-10 width-vw-8"
                [src]="projectSelected.logo"
                [alt]="projectSelected.company"
              />
              <h1 class="color-white f-vw-4">
                {{ projectSelected.name.toUpperCase() }}
              </h1>
            </div>
            <p class="color-white f-vw-2 line-height-px-50 white-space-pre-line padding-20">
              {{ projectSelected.description | translate }}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
