@use "../../assets/styles/styles.scss";
@use "../../assets/styles/keyframes.scss";

.tablet {
  background-color: #141414;

  .card-container {
    border: 5px solid black;

    background: repeating-linear-gradient(
      rgba(0, 150, 0, 0.75) 0px,
      rgba(0, 150, 0, 0.75) 1px,
      transparent 2px,
      transparent 4px
    );

    .menu-tablet {
      background-color: rgb(0 0 0 / 90%);
      margin-bottom: 1vw;

      .bar,
      .battery {
        background-color: #ccc;
      }

      .bar {
        margin-right: 5px;
      }

      .battery {
        margin-right: 20px;
      }

      .battery-fill {
        background-color: #4caf50;
      }
    }

    .card {
      border: 3px solid black;

      &:hover {
        transition: 1.5s;
        transform: scale(1.1);
      }

      .show {
        opacity: 1 !important;
        transition: opacity 1.5s;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: black;
}
