@import "../../assets/styles/variables";

.information-container {
  .title,
  .contact-informations {
    border: 2px solid $hover-color;
    box-shadow: 0px 0px 10px rgba(144, 238, 144, 0.8);
  }

  .title {
    background-color: rgba(14, 17, 17, 0.6);
    border-radius: 20px 20px 0 0;
    color: $hover-color;
  }

  .contact-informations {
    max-height: 100%;
    background-color: rgba(14, 17, 17, 0.6);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .border {
      border-right: 1px solid white;
    }
  }
}

@media screen and (min-width: 3440px) {
  .information-container {
    width: 50%;

    .title {
      font-size: 2vw;
    }

    .contact-informations {
      img {
        width: 6vw;
      }

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 28px;
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .information-container {
    padding: 0;
    .contact-informations {
      img {
        width: 9vw;
      }

      p {
        font-size: 1vw;
      }
    }
  }
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1920px) and (max-width: 3439px) {
  .information-container {
    padding: 0;
    .contact-informations {
      img {
        width: 8vw;
      }

      p {
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-contact-me {
    margin-top: 0;

    .information-container {
      width: 100%;

      .title,
      .contact-informations {
        border: none;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        background: none;
        grid-template-columns: 1fr 1fr;
      }

      .title {
        font-size: 30px;
        padding: 10px;
      }

      .contact-informations {
        .border {
          border-right: 1px solid #90ee90;
        }

        .github {
          display: none;
        }

        img {
          width: 30vw;
        }

        p {
          font-size: 10px;
        }
      }
    }
  }
}
