.container {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 89%,
    rgba(14, 17, 17, 1) 95%,
    rgba(35, 43, 43, 1) 100%
  );

  .title-language {
    button {
      margin: 0 auto;
      clear: both;
    }

    ::ng-deep {
      .mat-button {
        background-color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .stars {
    display: none;
  }

  .body-title-language {
    h1 {
      font-size: 18vw;
    }
    p {
      font-size: 6vw;
    }

    select {
      width: 100%;
    }
  }

  .welcome-text {
    font-size: 13vw;
  }
}
