<div class="container">
  <div *ngFor="let star of stars">
    <mat-icon
      *ngIf="show"
      aria-label="star"
      [ngStyle]="{
        color: 'white',
        position: 'absolute',
        left: generateRandomStar('left'),
        top: generateRandomStar('top')
      }"
      @fadeIn
      @fadeOut
      >star</mat-icon
    >
  </div>
  <div class="title-language display-flex-center full-height">
    <div
      class="body-title-language display-flex-center full-height"
      *ngIf="!isNextStep"
      @fadeIn
      @fadeOut
    >
      <h1 [@pulseOnEnter]="{ value: '', params: { duration: 3000 } }">
        Campos
      </h1>
      <p>{{ "Inicio.EscolhaSuaLingua" | translate }}</p>
      <select #selectedLang (change)="switchLanguage(selectedLang.value)">
        <option value=""></option>
        <option
          *ngFor="let langague of translate.getLangs()"
          [value]="langague"
          [selected]="langague === translate.currentLang"
        >
          {{
            langague === "pt"
              ? ("Portugues" | translate)
              : ("Ingles" | translate)
          }}
        </option>
      </select>
      <button mat-button (click)="nextStep()" [disabled]="!selectedLang.value">OK</button>
    </div>

    <div @fadeIn class="welcome display-flex-center full-height" *ngIf="isNextStep">
      <h1>{{ "Inicio.BemVindo" | translate }}</h1>
    </div>
  </div>
</div>
