<div class="container">
  <div *ngFor="let star of stars">
    <mat-icon
      *ngIf="show"
      aria-label="star"
      [ngStyle]="{
        color: 'white',
        position: 'absolute',
        left: generateRandomStar('left'),
        top: generateRandomStar('top')
      }"
      @fadeIn
      @fadeOut
      >star</mat-icon
    >
  </div>
  <div class="title-language display-flex-center full-height">
    <div
      class="body-title-language display-flex-center full-height flex-collumn gap-30"
      *ngIf="!isNextStep"
      @fadeIn
      @fadeOut
    >
      <h1
        class="font-embezzler color-white f-150"
        [@pulseOnEnter]="{ value: '', params: { duration: 3000 } }"
      >
        Campos
      </h1>
      <p class="font-embezzler color-white f-50">
        {{ "Inicio.EscolhaSuaLingua" | translate }}
      </p>
      <select
        #selectedLang
        (change)="switchLanguage(selectedLang.value)"
        class="font-embezzler text-align-center f-30 width-px-600 height-px-40"
      >
        <option value=""></option>
        <option
          *ngFor="let langague of translate.getLangs()"
          [value]="langague"
          [selected]="langague === translate.currentLang"
        >
          {{
            langague === "pt"
              ? ("Portugues" | translate)
              : ("Ingles" | translate)
          }}
        </option>
      </select>
      <button
        mat-button
        class="display-block"
        (click)="nextStep()"
        [disabled]="!selectedLang.value"
      >
        OK
      </button>
    </div>

    <div
      @fadeIn
      class="display-flex-center full-height position-absolute"
      *ngIf="isNextStep"
    >
      <h1 class="color-white font-embezzler f-150">
        {{ "Inicio.BemVindo" | translate }}
      </h1>
    </div>
  </div>
</div>
