
@import "../../../../assets/styles/variables";

.menu {
  height: 0;

  border-bottom: 100px solid rgba(14, 17, 17, 1);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  ul {
    list-style-type: none;

    li {
      transition: 1s;

      &:hover {
        transform: scale(1.2);

        mat-icon {
          color: $hover-color;
        }

        a {
          color: $hover-color;
        }
      }
    }
  }

  .active {
    mat-icon {
      color: $hover-color;
    }

    a {
      color: $hover-color;
    }
  }
}

@media screen and (max-width: 1366px) {
  li {
    a {
      font-size: 20px;
    }

    mat-icon {
      font-size: 40px;
    }
  }
}
