<div class="menu width-vw-50 border-radius-4 transform-rotate-180">
  <ul class="display-flex justify-content-space-around transform-rotate-180">
    <li
      *ngFor="let menu of menuItems"
      class="display-flex-center flex-collumn cursor-pointer"
      [routerLink]="menu.routeName"
      routerLinkActive="active"
    >
      <mat-icon class="color-white f-50 text-align-center">
        {{ menu.icon }}</mat-icon
      >
      <a class="color-white font-embezzler f-25">
        {{ menu.titleName | translate }}
      </a>
    </li>
  </ul>
</div>
