html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
}

body,
h1,
pre,
html,
h2,
p {
  margin: 0;
}

app-menu {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Embezzler";
  src: url("./assets/fonts/Embezzler.otf");
}
