<div class="container">
  <app-menu></app-menu>
  <div class="container-about-me display-flex-center half-height">
    <div class="about-me full-height half-width">
      <div id="monitor" class="full-width-height background-screens">
        <div class="full-width-height position-absolute overflow-hidden">
          <div class="scanlines full-width-height position-absolute"></div>
        </div>
        <div class="full-width-height">
          <div class="texts full-width-height">
            <h2 class="color-white text-uppercase text-align-center f-vh-3">
              {{ "Campos.SobreMimTitulo" | translate }}
            </h2>
            <p
              id="output"
              class="padding-18 color-white text-uppercase f-vh-2 line-height-vw-2 white-space-pre-line"
            >
              <a>$></a>{{ typedText | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="container-planet display-flex-center flex-collumn position-absolute bottom-vw-3 left-vw-4"
  >
    <div class="speech-bubble border-radius-10 position-relative width-vw-5">
      <div class="position-relative">
        <p class="text-uppercase">
          {{ "Campos.Localizacao" | translate }}
        </p>
      </div>
    </div>
    <a
      class="planet cursor-pointer width-px-200 height-px-200"
      href="https://www.tripadvisor.com.br/Attractions-g303629-Activities-
        Sao_Jose_Dos_Campos_State_of_Sao_Paulo.html"
      target="_blank"
    ></a>
  </div>
</div>
