@use "../../assets/styles/styles.scss";
@use "../../assets/styles/keyframes.scss";
@import "../../assets/styles/variables";

.container-about-me {
  margin-top: 10vw;

  #monitor {
    animation: glitch 1s ease-in-out 1.5s infinite;

    background-color: $background-color;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);

    border: 30px solid transparent;
    border-image-source: url("../../assets/images/bazel.png");
    border-image-slice: 30 fill;

    .scanlines {
      animation: scanline-scroll 2s linear infinite;

      background: repeating-linear-gradient(
        rgba(255, 255, 255, 0.05) 0px,
        rgba(255, 255, 255, 0.05) 1px,
        transparent 2px,
        transparent 4px
      );
    }

    h2,
    pre {
      max-width: 100%;
      word-wrap: break-word;
      text-wrap: wrap;
    }

    pre {
      padding: 18px;
    }

    a {
      color: $hover-color;
    }
  }
}

.planet {
  background-image: url("../../assets/images/planet.png");
  background-size: cover;
  background-position: center;
  animation: rotatePlanet 10s linear infinite;
}

.speech-bubble {
  padding: 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// .container-me {
//   .text-picture {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 2px;

//     img {
//       width: 120px;
//       border: 10px solid transparent;
//       border-image: linear-gradient(to bottom, #383e3f, #f0f0f0, #383e3f) 1;
//       border-image-slice: 1;
//     }

//     .text {
//       width: 50%;
//       color: $text-color;
//       border: 10px solid transparent;
//       border-image: linear-gradient(to bottom, #383e3f, #f0f0f0, #383e3f) 1;
//       border-image-slice: 1;
//       padding: 10px;

//       p {
//         font-family: "VT323", monospace;
//         text-transform: uppercase;
//       }
//     }
//   }
// }
