<div class="container">
  <app-menu></app-menu>
  <div class="container-about-me">
    <div id="monitor" class="full-width-height">
      <div class="scanline-effect full-width-height">
        <div class="scanlines full-width-height"></div>
      </div>
      <div id="bezel" class="full-width-height">
        <div id="crt" class="off">
          <div class="full-width-height">
            <h2>Sobre Mim</h2>
            <pre id="output"><a>$></a>{{ typedText | translate }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
